/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
    .header {
        border: none;
    }

    .header__inner {
        position: relative;
        align-items: center;
    }

    .header__inner .logo {
        display: none;
    }

    .header__search {
        position: absolute;
        right: 0;
        color: #cac6c6;
        font-size: 2rem;
    }

    /* search__result */
    .search-result {
        width: 393px;
        height: 540px;
        padding: 10px 0;
    }

    .search-result__title {
        margin-left: 20px;
    }

    .search-result__row {
        padding-left: 30px;
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .name {
        display: flex;
        align-items: center;
    }

    .name__thuan {
        margin-left: 20px;
        font-size: 3rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        letter-spacing: -1px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.3s;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        padding: 40px;
        z-index: 2;
        transform: translateX(-100%);
    }

    .menu-drawer ul {
        margin-top: 20px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 25px 0;
        font-weight: 500;
    }

    .menu-drawer .navbar-item:nth-child(3),
    .menu-drawer .navbar-item:nth-child(2) {
        position: relative;
    }

    .menu-drawer .explore {
        padding: 10px 0;
        padding-top: 0;
        position: absolute;
        top: -50px;
        right: 120px;
        height: 140px;
    }

    .menu-drawer .explore-item:nth-child(1) {
        padding: 10px 10px 0;
    }

    .menu-drawer .explore-item:nth-child(2) {
        padding: 0px 10px 10px;
    }

    .menu-drawer .community {
        position: absolute;
        top: 30px;
        right: 100px;
        padding: 10px 0;
        height: 300px;
    }

    .menu-drawer .community__list {
        margin-top: 0;
    }

    .menu-drawer .community-item {
        margin-bottom: 0;
    }

    .menu-drawer .community-item .community-item__link {
        padding: 15px 0;
    }

    .community-item:nth-child(1):hover .about-us__list {
        height: 250px;
        left: 138px;
        top: -30px;
    }

    .about-us__item .about-us__link {
        padding: 10px 0;
    }

    .menu-drawer .clt__list {
        position: absolute;
        bottom: -260px;
        height: 315px;
    }

    .menu-drawer .clt__list--2 {
        height: 320px;
    }

    .menu-drawer .explore-item:nth-child(2) .clt-item,
    .menu-drawer .explore-item:nth-child(1) .clt-item {
        padding: 1px 20px 0;
    }

    .connect {
        margin-left: 22px;
        font-size: 1.8rem;
    }

    .menu-drawer .form__search {
        background: transparent;
    }

    .menu-drawer .form__label {
        margin-left: -72px;
    }

    .menu-drawer .form__input {
        display: none;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .team__heading {
        width: 300px;
    }

    .team__desc {
        width: 400px;
    }

    .img1 {
        left: -91px;
        top: 20px;
    }

    .img2 {
        left: 200px;
    }

    .img3 {
        top: -10px;
        left: 543px;
        width: 200px;
        height: 200px;
    }

    .img4 {
        top: -260px;
        right: -25px;
        width: 140px;
        height: 140px;
    }

    .img5 {
        top: -220px;
        left: -91px;
    }

    .team__inner {
        margin-top: 400px;
        flex-direction: column;
        row-gap: 50px;
    }

    .our-team__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .newslaters {
        flex-direction: column;
    }

    .newslaters__desc,
    .newslaters__heading {
        width: 500px;
        text-align: center;
    }

    .newslaters__form {
        margin: 92px auto 50px;
    }

    .footer__row--1 {
        flex-wrap: wrap;
    }

    .footer__logo {
        height: 100px;
        width: 200px;
    }

    .footer-item__link {
        font-size: 3.2rem;
    }

    .footer__social {
        margin: 30px auto 0;
    }

    .footer__social-item svg {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 15px;
    }

    .footer__row--2 {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .footer__copyright {
        font-size: 2.8rem;
    }

    .footer__privacy {
        font-size: 2.8rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* ### */
}

/* Mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        padding: 20px;
        inset: 0 25% 0 0;
    }

    .menu-drawer .navbar-item:nth-child(2) {
        position: relative;
    }

    .menu-drawer .explore {
        padding-top: 0;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu-drawer .clt__list {
        position: absolute;
        bottom: -250px;
    }

    .menu-drawer .explore {
        top: -50px;
    }

    .menu-drawer .explore-item {
        padding: 5px 10px 0;
    }

    .explore-item:nth-child(1) {
        padding: 10px 15px;
    }

    .menu-drawer .clt-item {
        padding: 7px 15px;
    }

    .menu-drawer .community {
        right: -10px;
        top: 5px;
        height: 250px;
    }

    .menu-drawer .community-item .community-item__link {
        padding: 10px 10px;
    }

    .name__thuan {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .form__search {
        position: absolute;
        left: -80px;
        bottom: -60px;
        width: 370px;
    }

    .search-result {
        width: 370px;
    }

    .header__btn {
        --height: 34px;
        min-width: 80px;
        font-size: 1.4rem;
    }

    /* connect__login */
    .circle_x {
        font-size: 4rem;
        right: 15px;
        top: -5px;
    }

    .connect-login {
        top: 74px;
        width: 340px;
        height: auto;
    }

    .connect-login__desc {
        width: 100%;
    }

    .img1 {
        top: 0;
        left: -25px;
        width: 118px;
        height: 116px;
    }

    .img2 {
        width: 127px;
        height: 124px;
        left: 122px;
        top: 25px;
    }

    .img3 {
        left: 278px;
        width: 112px;
        height: 110px;
    }

    .img4 {
        width: 73px;
        height: 72px;
        top: -150px;
    }

    .img5 {
        z-index: -1;
        width: 66px;
        height: 66px;
        top: -100px;
        left: -40px;
    }

    .team {
        padding: 60px 0 60px;
    }

    .team__heading {
        width: 234px;
        color: #fff;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: 0.36px;
    }

    .team__desc {
        width: 270px;
        color: #cfcfcf;
        text-align: center;
        font-size: 1.4rem;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.14px;
    }

    .team__inner {
        margin-top: 200px;
    }

    .team__content {
        order: 2;
    }

    .team__text {
        width: 335px;
    }

    .our-team__list {
        grid-template-columns: 1fr 1fr;
    }

    .newslaters {
        margin-top: 40px;
    }

    .newslaters__desc {
        margin: 18px auto 0;
        width: 276px;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        line-height: 1;
        letter-spacing: 0.1px;
    }

    .newslaters__heading {
        margin: 0 auto 0;
        width: 208px;
        color: #d9d9d9;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.3; /* 130% */
    }

    .newslaters__form {
        margin: 40px auto 0;
        width: 335px;
        height: 62px;
    }

    .newslatters__button {
        width: 38px;
        height: 38px;
    }

    .newslatters__button svg {
        width: 20px;
        height: 20px;
    }

    .newslaters__media {
        margin-top: 50px;
        width: 335px;
        height: 306px;
    }
    .newslaters__img {
        width: 100%;
        height: 100%;
    }

    .footer {
        padding-top: 40px;
    }

    .footer__logo {
        width: 107px;
        height: 42px;
    }

    .footer__list {
        column-gap: 20px;
    }

    .footer-item__link {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 18px;
    }

    .footer__social {
        margin: 40px auto 0;
    }

    .footer__social-item svg {
        width: 24px;
        height: 24px;
    }

    .footer__copyright {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .footer__privacy {
        font-size: 1.2rem;
        font-weight: 500;
    }
}
