/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991px) {
    .header {
        border: none;
    }

    .header__inner {
        position: relative;
        align-items: center;
    }

    .header__inner .logo {
        display: none;
    }

    .header__search {
        position: absolute;
        right: 0;
        color: #cac6c6;
        font-size: 2rem;
    }

    /* search__result */
    .search-result {
        width: 393px;
        height: 540px;
        padding: 10px 0;
    }

    .search-result__title {
        margin-left: 20px;
    }

    .search-result__row {
        padding-left: 30px;
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .name {
        display: flex;
        align-items: center;
    }

    .name__thuan {
        margin-left: 20px;
        font-size: 3rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        letter-spacing: -1px;
    }

    
}
