/* PC breakpoint */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* tablet & mobile breakpoint */
@media screen and (max-width: 991px) {
    .header {
        border: none;
    }

    .header__inner {
        position: relative;
        align-items: center;
    }

    .header__inner .logo {
        display: none;
    }

    .header__search {
        position: absolute;
        right: 0;
        color: #cac6c6;
        font-size: 2rem;
    }

    /* search__result */
    .search-result {
        width: 393px;
        height: 540px;
        padding: 10px 0;
    }

    .search-result__title {
        margin-left: 20px;
    }

    .search-result__row {
        padding-left: 30px;
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .name {
        display: flex;
        align-items: center;
    }

    .name__thuan {
        margin-left: 20px;
        font-size: 3rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        letter-spacing: -1px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.3s;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        padding: 40px;
        z-index: 2;
        transform: translateX(-100%);
    }

    .menu-drawer ul {
        margin-top: 20px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 25px 0;
        font-weight: 500;
    }

    .menu-drawer .navbar-item:nth-child(3),
    .menu-drawer .navbar-item:nth-child(2) {
        position: relative;
    }

    .menu-drawer .explore {
        padding: 10px 0;
        padding-top: 0;
        position: absolute;
        top: -50px;
        right: 120px;
        height: 140px;
    }

    .menu-drawer .explore-item:nth-child(1) {
        padding: 10px 10px 0;
    }

    .menu-drawer .explore-item:nth-child(2) {
        padding: 0px 10px 10px;
    }

    .menu-drawer .community {
        position: absolute;
        top: 30px;
        right: 100px;
        padding: 10px 0;
        height: 300px;
    }

    .menu-drawer .community__list {
        margin-top: 0;
    }

    .menu-drawer .community-item {
        margin-bottom: 0;
    }

    .menu-drawer .community-item .community-item__link {
        padding: 15px 0;
    }

    .community-item:nth-child(1):hover .about-us__list {
        height: 250px;
        left: 138px;
        top: -30px;
    }

    .about-us__item .about-us__link {
        padding: 10px 0;
    }

    .menu-drawer .clt__list {
        position: absolute;
        bottom: -260px;
        height: 315px;
    }

    .menu-drawer .clt__list--2 {
        height: 320px;
    }

    .menu-drawer .explore-item:nth-child(2) .clt-item,
    .menu-drawer .explore-item:nth-child(1) .clt-item {
        padding: 1px 20px 0;
    }

    .connect {
        margin-left: 22px;
        font-size: 1.8rem;
    }

    .menu-drawer .form__search {
        background: transparent;
    }

    .menu-drawer .form__label {
        margin-left: -72px;
    }

    .menu-drawer .form__input {
        display: none;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero__heading {
        font-size: 5rem;
        text-align: left;
    }

    .hero__desc {
        margin: 20px 0 0;
        text-align: left;
        width: 700px;
    }

    .hero__btn {
        text-align: left;
    }

    .hero__icon {
        display: none;
    }

    .hero__card--center {
        width: 414px;
        height: 450px;
    }

    .hero__card--center .hero__body {
        width: 248px;
        height: 150px;
        left: 5px;
    }

    .hero__card--left {
        width: 480px;
        height: 450px;
    }

    .hero__card--left .hero__body {
        width: 230px;
        height: 150px;
        bottom: 42px;
        left: 70px;
        rotate: -13deg;
    }

    .hero__card--right {
        width: 480px;
        height: 450px;
    }

    .hero__card--right .hero__body {
        rotate: 13px;
        bottom: 42px;
        left: 10px;
        width: 217px;
        rotate: 17deg;
    }

    .collection__list {
        grid-template-columns: 1fr 1fr;
    }

    .collection-item:nth-child(9) {
        display: none;
    }

    .artwork__list {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    .artwork-item__body {
        padding: 20px 24px;
    }

    .artwork-item__search {
        top: 270px;
    }

    .discover-card__list {
        grid-template-columns: 1fr;
    }

    .discover-card__item {
        width: 100%;
        height: 910px;
    }

    .discover-card__body {
        padding: 70px 40px 80px;
    }

    .discover-card__title {
        font-size: 5.4rem;
    }

    .discover-card__row {
        margin-top: 30px;
    }

    .discover-card__row--bottom {
        margin-top: 15px;
    }

    .discover-card__desc {
        font-size: 2.6rem;
    }

    .artist__list {
        grid-template-columns: 1fr;
    }

    .artist-item {
        width: 100%;
        height: 900px;
    }

    .artist-item__img {
        height: 100%;
    }

    .artist-item__body {
        height: 550px;
    }

    .artist-item__avatar {
        height: 180px;
        width: 180px;
        top: -92px;
    }

    .artist-item__title {
        padding-top: 116px;
        font-size: 4.4rem;
    }

    .artist-item__desc {
        font-size: 3.2rem;
        margin-bottom: 120px;
        width: 400px;
    }

    .artist-item__link {
        font-size: 3.8rem;
        min-width: 600px;
        line-height: 90px;
    }

    .news__inner {
        flex-direction: column;
        row-gap: 220px;
    }

    .news-media {
        width: 100%;
    }

    .news-media__thumb {
        width: 100%;
    }

    .news-content__item {
        padding: 10px;
    }

    .news-media__title {
        font-size: 2.4rem;
    }

    .news-media__body {
        padding: 50px 30px 50px;
    }

    .news-media__desc {
        font-size: 3.2rem;
    }

    .news-media__title {
        margin-top: 30px;
        font-size: 5rem;
    }

    .news-media__row {
        margin-top: 30px;
    }

    .news-media__link {
        --height: 60px;
        min-width: 150px;
        font-size: 2.8rem;
    }

    .date {
        font-size: 2.5rem;
    }

    .news-content__item {
        padding: 50px 30px 50px;
    }

    .news-content__link {
        --height: 30px;
    }

    .news-content__title {
        font-size: 5rem;
    }

    .news-content__desc {
        font-size: 3.2rem;
    }

    .news-content__row {
        margin-top: 20px;
    }

    .news-content__link {
        --height: 60px;
        min-width: 150px;
        font-size: 2.8rem;
    }

    .about__list {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .about__column {
        row-gap: 20px;
    }

    .about-item {
        padding: 35px;
    }

    .about-item__thumb {
        width: 100px;
        height: 100px;
    }

    .about__column:nth-child(1) .about-item:nth-child(1) {
        height: 280px;
    }

    .about__column:nth-child(1) .about-item:nth-child(2) {
        height: 400px;
        line-height: 2;
    }

    .about-item__title {
        font-size: 3.5rem;
    }

    .about-item__desc {
        margin-top: 10px;
        font-size: 2.8rem;
    }

    .about-item__desc--bottom {
        margin-top: 30px;
        font-size: 3rem;
        width: 650px;
    }

    .about__btn {
        --height: 90px;
        min-width: 200px;
        font-size: 3rem;
    }

    .subscribe__inner {
        padding: 200px 0;
    }

    .subscribe__heading {
        width: 600px;
        margin: 0 auto;
    }

    .subscribe__desc {
        width: 720px;
        font-size: 3rem;
    }

    .subscribe__decor.decor1 {
        width: 60px;
        height: 80px;
    }

    .subscribe__decor.decor2 {
        width: 50px;
        height: 70px;
    }

    .subscribe__form {
        position: relative;
        width: 420px;
        height: 100px;
        border-radius: 99px;
    }

    .subscribe__input {
        font-size: 3rem;
    }

    .subscribe__submit {
        position: absolute;
        height: 86px;
        width: 86px;
        border-radius: 99px;
        right: 2px;
    }

    .footer__row--1 {
        flex-wrap: wrap;
    }

    .footer__logo {
        height: 100px;
        width: 200px;
    }

    .footer-item__link {
        font-size: 3.2rem;
    }

    .footer__social {
        margin: 30px auto 0;
    }

    .footer__social-item svg {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 15px;
    }

    .footer__row--2 {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .footer__copyright {
        font-size: 2.8rem;
    }

    .footer__privacy {
        font-size: 2.8rem;
    }
}

/* tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* mobile breakpoint */
@media screen and (max-width: 767px) {
    .menu-drawer {
        padding: 20px;
        inset: 0 25% 0 0;
    }

    .menu-drawer .navbar-item:nth-child(2) {
        position: relative;
    }

    .menu-drawer .explore {
        padding-top: 0;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu-drawer .clt__list {
        position: absolute;
        bottom: -250px;
    }

    .menu-drawer .explore {
        top: -50px;
    }

    .menu-drawer .explore-item {
        padding: 5px 10px 0;
    }

    .explore-item:nth-child(1) {
        padding: 10px 15px;
    }

    .menu-drawer .clt-item {
        padding: 7px 15px;
    }

    .menu-drawer .community {
        right: -10px;
        top: 5px;
        height: 250px;
    }

    .menu-drawer .community-item .community-item__link {
        padding: 10px 10px;
    }

    .name__thuan {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .form__search {
        position: absolute;
        left: -80px;
        bottom: -60px;
        width: 370px;
    }

    .search-result {
        width: 370px;
    }

    .header__btn {
        --height: 34px;
        min-width: 80px;
        font-size: 1.4rem;
    }

    /* connect__login */
    .circle_x {
        font-size: 4rem;
        right: 30px;
    }

    .hero__desc {
        width: 370px;
        font-size: 1.7rem;
    }

    .hero__link {
        min-width: 150px;
    }

    .hero__media {
        position: relative;
    }

    .hero__card--center {
        position: absolute;
        top: -46px;
        width: 120px;
        height: 180px;
    }

    .hero__card--center .hero__body {
        padding: 4.5px;
        width: 112px;
        height: 50px;
        left: 4px;
        bottom: 6px;
    }

    .hero__card--left {
        position: absolute;
        left: 2px;
        top: -90px;
        width: 152px;
        height: 185px;
    }

    .hero__card--left .hero__body {
        padding: 4.5px;
        width: 108px;
        height: 50px;
        left: 36px;
        bottom: 18px;
        rotate: -15deg;
    }

    .hero__card--right {
        position: absolute;
        right: 0;
        top: -90px;
        width: 152px;
        height: 185px;
    }

    .hero__card--right .hero__body {
        padding: 4.5px;
        width: 108px;
        height: 50px;
        left: 8px;
        bottom: 16px;
        rotate: 15deg;
    }

    .hero__title {
        margin-bottom: 6px;
        font-size: 0.95rem;
        width: 98px;
        color: #fff;
        font-weight: 500;
        line-height: 11.422px;
        letter-spacing: 1.19px;
    }

    .hero__row {
        font-size: 0.5rem;
    }

    .hero__row--2 {
        margin-top: 3px;
        font-size: 0.76rem;
    }

    .collection__row {
        margin-top: 50px;
    }

    .collection__heading {
        width: 198px;
        font-size: 2rem;
    }

    .collection__link {
        font-size: 1.4rem;
    }

    .collection__list {
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
    }

    .collection-item {
        width: 158px;
    }

    .collection-item__title {
        font-size: 1.4rem;
        width: 70px;
    }

    .collection-item__avatar,
    .collection-item__info {
        margin-left: 10px;
    }

    .artwork {
        margin-top: 0;
        padding-top: 60px;
    }

    .artwork__row {
        flex-direction: column;
    }

    .artwork__heading {
        width: 215px;
        font-size: 2rem;
        text-align: center;
    }

    .artwork__info {
        margin-top: 20px;
    }

    .artwork__title {
        font-size: 1.4rem;
        line-height: 20px;
    }

    .artwork__title::after {
        bottom: -10px;
        width: 32px;
    }

    .artwork__desc {
        font-size: 1.2rem;
    }

    .artwork__list {
        margin-top: 30px;
        grid-template-columns: 1fr;
    }

    .artwork-item__body {
        padding: 20px 30px;
    }

    .discover {
        padding: 0;
    }

    .discover__heading {
        font-size: 2rem;
    }

    .discover__link {
        padding: 4px 12px;
        font-size: 1rem;
    }

    .discover__link-more {
        display: none;
    }

    .discover-card__item {
        width: 335px;
        height: 440px;
    }

    .discover-card__thumb {
        height: 291px;
    }

    .discover-card__body {
        padding: 20px;
    }

    .discover-card__title {
        width: 295px;
        font-size: 2rem;
        color: #fff;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 2.5px;
    }

    .discover-card__desc {
        font-size: 1.2rem;
        line-height: 22px;
    }

    .discover-card__info {
        font-size: 1.6rem;
    }

    .avatar-item__icon {
        width: 24px;
        height: 24px;
    }

    .discover-card__row--bottom {
        margin-top: 6px;
        justify-content: space-between;
        align-items: center;
    }

    .discover-card__list {
        column-gap: 0;
    }

    .discover-card__item {
        width: 100%;
    }

    .discover-card__thumb {
        width: 100%;
    }

    .artist {
        margin-top: 114px;
    }

    .artist__heading {
        font-size: 2rem;
    }

    .artist__desc {
        width: 335px;
        font-size: 1.2rem;
    }

    .artist-item__avatar {
        height: 81px;
        width: 81px;
        top: -40px;
    }

    .artist-item__body {
        height: 239px;
    }

    .artist-item__title {
        margin-top: -50px;
        font-size: 1.6rem;
    }

    .artist-item__desc {
        width: 227px;
        font-size: 1.4rem;
    }

    .artist-item__link {
        min-width: 295px;
        height: 46px;
        font-size: 2rem;
    }

    .artist__list {
        grid-template-columns: 1fr;
    }

    .artist-item {
        width: 100%;
        height: 100%;
    }

    .artist-item__desc {
        margin-bottom: 20px;
    }

    .artist-item__link {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
        padding: 8px 20px;
    }

    .news-media {
        height: 377px;
    }

    .news-media__desc {
        font-size: 1.2rem;
    }

    .news-media__title {
        width: 295px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 30px;
    }

    .news-media__body {
        padding: 20px;
    }

    .news-media__link,
    .news-content__link {
        --height: 38px;
        min-width: 81px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 17px;
        text-transform: capitalize;
    }

    .date {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }

    .news__inner {
        row-gap: 60px;
    }

    .news-content {
        row-gap: 20px;
    }

    .news-content__item {
        padding: 20px;
    }

    .news-content__title {
        font-size: 2rem;
    }

    .news-content__desc {
        font-size: 1.5rem;
        color: #a4a4a4;
        line-height: 17px;
    }

    .about {
        margin-top: 0;
        padding: 60px 0 0;
    }

    .about__heading {
        width: 227px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    .about__column:nth-child(1) .about-item:nth-child(1) {
        height: 133px;
    }

    .about__column:nth-child(1) .about-item:nth-child(2) {
        height: 170px;
    }

    .about-item__thumb {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
    }

    .about-item__title {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 24px;
    }

    .about-item__desc {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 18px;
    }

    .about-item__desc--bottom {
        margin-top: 16px;
        font-size: 1.4rem;
        width: 303px;
    }

    .about__column {
        width: 100%;
    }

    .about-item {
        padding: 16px 16px 19px;
    }

    .about__btn {
        margin-top: 30px;
        min-width: 99px;
        --height: 42px;
        font-size: 1.4rem;
        line-height: 22px;
    }

    .subscribe {
        margin: 60px 0;
    }

    .subscribe__inner {
        padding: 60px 0;
    }

    .subscribe__heading {
        width: 230px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .subscribe__desc {
        margin-top: 10px;
        width: 295px;
        font-size: 1.2rem;
        line-height: 22px;
        letter-spacing: 0.12px;
    }

    .subscribe__decor.decor1 {
        width: 32px;
        height: 33px;
        left: 6px;
        bottom: 22px;
    }

    .subscribe__decor.decor2 {
        width: 19px;
        height: 32px;
        right: -12px;
        top: 21px;
    }

    .subscribe__form {
        margin-top: 20px;
        width: 232px;
        height: 50px;
    }

    .subscribe__input {
        padding-left: 15px;
        font-size: 1.4rem;
        line-height: 20px;
        letter-spacing: 0.14px;
    }

    .subscribe__submit {
        right: -4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 38px;
        height: 38px;
        font-size: 2rem;
    }

    .footer {
        padding-top: 40px;
    }

    .footer__logo {
        width: 107px;
        height: 42px;
    }

    .footer__list {
        column-gap: 20px;
    }

    .footer-item__link {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 18px;
    }

    .footer__social {
        margin: 40px auto 0;
    }

    .footer__social-item svg {
        width: 24px;
        height: 24px;
    }

    .footer__copyright {
        font-size: 14px;
        font-weight: 500;
    }

    .footer__privacy {
        font-size: 12px;
        font-weight: 500;
    }
}
